html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, 
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav section {
    display: block;
}

body { 
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.navLinks li {
    display: inline-block;
    margin: 0 5rem;
    border: 0px solid black;
    color: white;
    padding: .7rem 2 rem;
    font-size: 1rem;
    border-radius: 15px;
    height: 3rem;
    width: 8rem;
    padding: .5rem;
}

.navLinks {
    margin: 3rem;
    text-align: center;
}

.planLink {
    background-color: #FF764E;
}

.aboutLink {
    background-color: #5ED3EB;
}

.involvedLink {
    background-color: #FFCD69;
}

.logoImage img {
    width: 12rem;
    border-radius: 6rem;
    float: left;
    margin: 0 1rem 0 4rem;
}

.logoImage {
    width: 100%;
    display: inline-block;
    text-align: center;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 2.5rem;
}

h2 {
    font-size: .75rem;
}

.logoImage h1, .logoImage h2 {
    margin: 1.5rem;
}

.textBox {
    background-color: #DDB9A3;
    margin: 2rem;
    padding: 1rem;
    color: white;
    text-align: center;
}

.imageIcons {
    text-align: center;
    margin: 0 0 5rem;
}

.imageIcons img {
    width: 7rem;
}

p {
    font-size: .8rem;
    margin: 0 33%;
}

ol, ul {
    list-style: none;
}

.footerImage {
    width: 100%;
    max-height: 20%;
    object-fit: cover;
    object-position: 0 0;
}

.footer li {
    margin: 0 4rem 3rem;
}

footer {
    background-color: #F9E7DC;
}